.feedWrapper {
  flex: 2;
  padding-bottom: 170px;
}

.feedWrapper::-webkit-scrollbar-thumb {
  display: none;
}

.feedWrapper::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
  display: none;
}
