.container {
  /* width: 100%;
  max-width: 80vw; */
  min-height: 100vh;
  margin: auto;

  display: flex;
  flex-direction: column;

  background-color: #0d0e11;
  color: #fff;

  overflow-y: hidden;
}
.headerContainer{
  width: 100%;
  max-width: 80vw;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 9em;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  font-size: 1.5em;

  text-align: center;
  margin-top: 4em;
}

.heroParagraph {
  color: rgba(255, 255, 255, 0.4);

  width: 100%;
  max-width: 25em;

  line-height: 1.5em;
}

.getStarted {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.9em 1.75em;
  gap: 4px;
  background: rgba(255, 255, 255, 0.04);
  border: 0;
  border-radius: 40px;
  cursor: pointer;
  border: none;
  color: #fff;
  font-weight: 600;

  transition: all 0.2s ease-in-out;
}

.getStarted,
.heroButton {
  font-family: "Inter";
}

.getStarted:hover {
  background: rgba(255, 255, 255, 0.1);
}

.heroButton {
  background: #ef8031;
  padding: 0.8em 2em;
  border-radius: 2.5em;
  color: #fff;
  font-weight: 600;

  font-size: 1.1em;
  margin-top: 0.5em;

  transition: all 0.2s ease-in-out;
}

.heroButton:hover {
  opacity: 0.8;
}



.mainContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 7em;
  position: relative;
}

.leftPinkIcon{
  position: absolute;
  top: 7em;
  left: 2.7%;
  width: 8%;
  
}
.leftGreenIcon{
  position: absolute;
  left: 14.2%;
  width: 8%;

  
}
.leftBlueIcon{
  position: absolute;
  top: 40em;
  left: -1.4%;
  width: 8%;

}
.mainPhoto{
  position: relative;
  left: -1%;
  
}
.rightPinkIcon{
  position: absolute;
  top: 5em;
  left: 74%;
  width: 8%;

}
.rightGreenIcon{
  position: absolute;
  top: 15em;
  left: 90%;
  width: 8%;

}
.rightBlueIcon{
  position: absolute;
  top: 35em;
  left: 83%;
  width: 8%;

}
.footerResponsiveImage{
  display: none;
}
.footerImage{
  width: 100%;
}
.mainPhoto{
  z-index: 1;
}
@media all and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 2em;
    overflow: hidden;
  }

   .footerIcons {
    display: none;
  } 
  
  .footerImage {
    display: none;
  }
  .footerResponsiveImage{
    display: block;
    margin-top: -30px;
  }
  .firstIcon{
    display: none;
  }
  .secondIcon{
    display: none;
  }
  .leftPinkIcon{
    display: none;
  }
  .leftBlueIcon{
    display: none;
  }
  .rightGreenIcon{
    display: none;
  }
  .rightBlueIcon{
    display: none;
  }
  .leftGreenIcon{
    position: absolute;
    left: -9%;
    top: 34em;
    width: 16%;
  }
  .rightPinkIcon{
    position: absolute;
    left: 94%;
    top: 13em;
    width: 16%;
  }
}


