.wrapper {
  width: 100%;
  background-color: #0d0e11;
  overflow: hidden;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 120px 60px 120px;
}
.getStarted {
  padding: 10px 24px;
  gap: 4px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: white;
  max-width: max-content;
  width: 100%;
}

.welcomeWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 346px;
  height: 174px;
  color: white;
}
.welcomeHeader {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}
.welcomeText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}
.welcomeGetStarted {
  padding: 12px 24px;
  gap: 10px;
  height: 44px;
  width: 100%;
  background: #ef8031;
  border-radius: 40px;
  color: white !important;
}
.welcomeGetStarted button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.footerWrapper {
  margin-top: 110px;
  display: flex;
  justify-content: center;
}
.left {
  flex: 1;
  position: relative;
}
.right {
  flex: 1;
  position: relative;
}
.center {
  flex: 1;
  display: flex;
  z-index: 1000;
  position: relative;
  padding: 6px 6px 0 6px;
  background: rgb(13, 14, 17);
  background: linear-gradient(
    0deg,
    rgba(13, 14, 17, 1) 0%,
    rgba(30, 30, 30, 1) 50%
  );
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.landingIcon {
  position: absolute;
  width: 120px;
  height: 120px;
}
.left > :first-child {
  right: 161px;
  top: 71px;
}
.left > :nth-child(2) {
  right: -15px;
  top: 246px;
}
.left > :nth-child(3) {
  right: 221px;
  top: 353px;
}
.right > :first-child {
  left: -65px;
  top: 71px;
}
.right > :nth-child(2) {
  left: 180px;
  top: 106px;
}
.right > :nth-child(3) {
  left: 80px;
  top: 338px;
}
