.wrapper {
  width: 100%;
  max-height:100%;
  overflow-y: hidden;
  background-color: black;
  background-color: #0d0e11;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding-left: 120px;
  padding-right: 120px;
}

.getStarted {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 24px;
  gap: 4px;
  background: rgba(255, 255, 255, 0.04);
  border: 0;
  border-radius: 40px;
  cursor: pointer;
  border: none;
}
.getStartedText {
  padding: 0;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}

  /* padding: 20px 120px 60px 120px; */

.getStarted {
  padding: 10px 14px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: white;
  max-width: max-content;
  width: 100%;
}

.welcomeWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  position: center;
  margin:20px;
  gap:4px;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 346px;
  height: 174px;
  color: white;
}

.welcomeHeader {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  position: center;
}

.welcomeText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  width:364px;
  height: 60px;
}

.welcomeGetStarted {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  width: 160px;
  height: 44px;
  background: #ef8031;
  border-radius: 40px;
}  

.welcomeGetStarted button {
  font-family: "Inter";
  padding: 12px 24px;
  gap: 10px;
  height: 44px;
  width: 100px;
  background: #ef8031;
  border-radius: 40px;
  color: white !important;
}

.welcomeGetStarted button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 20px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  width:140px;
}

.footerWrapper {
  margin-top: 230px;
  width: 100%;
  height: 100%;
  display: flex; 
  align-items: center;
  position: center;
  padding: 40px;
  z-index: 90;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  position: center;
  row-gap: 50px;
  column-gap: 288px;
  margin-left:20px;
  width:100%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  position: center;
  row-gap: 50px;
  column-gap: 288px;
  margin-left:20px;
  width:100%;
}


@media (max-width: 1023px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    align-items: center;
    position: center;
    row-gap: 10px;
    column-gap: 10px;
    margin-left:20px;
    width:300px;
  }
}

.grid div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid img {
  max-width: 100%;
  height: auto;
}


.icon{
  margin-left: 140px;
  width:100px;
  height:100px;
}

.icon9{

  width:100px;
  height:100px;
  margin-left: 90px;
}

.icon4{
  width:100px;
  height:100px;
  margin-left: 160px;
}

.icon8{
  width:100px;
  height:100px;
  margin-right: 200px;

}

.icon1{
  width:100px;
  height:100px;
}

.iconhid{
  visibility: hidden;
  width:100px;
  height:100px;
}

.home{
  z-index: 100;
  position: absolute;
  align-items: center;
  width:800px;
  height: 584px;
  margin-left:320px;
}

@media (max-width: 1023px) {
  .home {
   visibility: hidden;
  }
}

