
.aboutuserleft {
  display: flex;
  gap: 8px;
}

.aboutuserleft img {
  width: 44px;
  height: 44px;
}

.aboutuserleft button {
  width: 88px;
  height: 44px;
  background-color: white;
  border-radius: 20px;
  color: black;
  font-weight: bolder;
}

.aboutuserleft .dotbtn {
  width: 60px;
  height: 40px;
  background-color: #16181c;
  color: white;
  border-radius: 20px;
}