.register {
  width: 100%;
  min-height: 100vh;
  background-color: #0d0e11;
  display: flex;
  overflow-y: hidden;
}
.right_image {
  flex: 0.43;
}

.right_image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 50%;
}

.left_register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.57;
}

.register_wrapper {
  width: 360px;
  margin: 0 20px;
}

.title {
  font-family: 'Inter';
  font-style: medium;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: #fff;
}
.text {
  font-family: 'Inter';
  font-style: medium;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 16px;
}

.categories {
  width: 418px;
}
.categoriesWrapper {
  margin: 54px 0px;
  display: flex;
  flex-wrap: wrap;
  width: 418px;
}
.categoriesNotSelected {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 16px;
  gap: 4px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  margin: 0px 8px 8px 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
}
.categorieSelected {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 16px;
  gap: 4px;
  margin: 0px 8px 8px 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  background: rgba(239, 128, 49, 0.1);
  border: 1px solid #ef8031;
  border-radius: 40px;
  color: #ffffff;
  cursor: pointer;
}
.continue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
  cursor: pointer;
  width: 418px;
  height: 44px;

  background: #ef8031;
  border-radius: 40px;
}
.continue button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  width: 100%;
  /* identical to box height, or 154% */
  cursor: pointer;
  border: none;
  background: none;
  color: #ffffff;
}
.allSetWrapper {
  width: 418px;
}
.allSetWrapper > :first-child {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  gap: 10px;
  width: 64px;
  height: 64px;
  margin-bottom: 44px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 40px;
  color: white;
  justify-content: center;
  align-items: center;
}
.finish {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  gap: 10px;
  margin-top: 44px;
  width: 102px;
  height: 44px;
  cursor: pointer;
  background: #ef8031;
  border-radius: 40px;
}
.finish button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */
  border: none;
  background: none;
  cursor: pointer;
  color: #ffffff;
}
@media all and (max-width: 768px) {
  .right_image {
    display: none;
  }
  .register {
    justify-content: center;
  }
}
@media all and (max-width: 407px) {
  .left_register {
    flex: 1;
  }
  .register_wrapper {
    width: 100%;
  }
}
