.container {
    width: 100%;
    height: auto;
}

.aboutUserProfile {
    position: relative;
    top: -40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.responsiveSocialNetwork {
    display: none;
}
.writePost{
    display: none;
}
.UserInformation{
    display: none;
}

@media all and (max-width:768px) {
    .container {
        margin-top: 40px;
    }
    .aboutUserProfile {
        position: relative;
        top: -40px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin: 0px 12px 0 12px;
    }
    .responsiveSocialNetwork{
        display: block;
    }
    .writePost{
        display: block;
    }
}
@media all and (max-width:1200px){
    .postInformation{
        display: block;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    .UserInformation{
        display: block;
    }
    
}