.menu {
  display: flex;
  height: 60px;
  color: var(--white-color);
}

.active {
  position: relative;
  height: 100%;
}

.menuline {
  background-color: #ef8031;
  height: 2px;
  width: 100%;
  position: absolute;

  border-radius: 2px 2px 0px 0px;
  bottom: 0;
}

.menuItem {
  display: flex;
  align-items: center;
  margin-left: 25px;
  margin-bottom: 10px;
  height: 100%;

  cursor: pointer;
}

.menuItem h1 {
  font-size: 12px;
  margin-left: 5px;
}
