.buttonsWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.updateButton {
  padding: 10px 16px;
  font-weight: 500;
  color: white;
  font-size: 14px;
  background-color: #ef8031;
  border-radius: 40px;
  width: auto;
}

.cancelButton {
  background: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #6e6e70;
  padding: 10px 16px;
  width: auto;
}

@media all and (max-width: 768px) {
  .cancelButton {
    display: none;
  }

  .updateButton {
    width: 100%;
    padding: 18px 16px;
  }
}

@media all and (max-width: 900px) {
  .cancelButton {
    display: none;
  }

  .updateButton {
    width: 100%;
  }
}
