.feedWrapper {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  overflow-y: scroll;
  flex: 3;
  gap: 1.5em;
}
.feedWrapper::-webkit-scrollbar {
  width: 0.2em;
  background-color: #f5f5f5;
  display: none;
}

.feedWrapper::-webkit-scrollbar-thumb {
  background-color: #000000;
  display: none;
}

.feedWrapper::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
  display: none;
}

@media all and (max-width: 768px) {
  .feedWrapper {
    margin-top: 5.8em;
    margin-bottom: 3em;
  }
}
