@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");

* {
  font-family: "Inter";
  /* border: 1px solid red; */
}

.profilemain {
  width: 100%;
  display: flex;
  justify-content: space-between;

  gap: 2em;
}

.profileleft {
  flex: 3;
}

.profilecover {
  width: 100%;
  height: 300px;
  position: relative;
}

.profilecover img {
  width: 100%;
  height: 100%;
}

.coverContent {
  position: relative;
}
.rate_btns div {
  width: 100%;
}
.rate_btns div button {
  width: 100%;
}
.editButtonContainer {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 13px;
  display: flex;
  align-items: center;
  color: black;
}

.editIcon {
  width: 16px !important;
  height: 16px !important;
  margin-right: 8px;
}

.opencovereditdrop {
  position: absolute;
  background-color: #17181b;
  border-radius: 10px;
  right: 20px;
  top: 60px;
  padding: 8px;
}

.opencovereditdrop button {
  padding: 10px 108px 10px 10px;
  cursor: pointer;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 6px;
}

.editButtonContainer button {
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.opencovereditdrop button:hover {
  background-color: rgba(255, 255, 255, 0.04);
}

.dropcoverbtn {
  width: 100%;
  padding: 10px 14px 10px 10px;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  background-color: transparent;
}

.aboutuser {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}

.userimg {
  position: relative;
  width: 100px;
  border-radius: 50%;
  width: 144px;
  height: 144px;
}

.userPostImage {
  width: 34px;
  height: 34px;
  border-radius: 34px;
  border: 6px solid #0d0e11;
}

.aboutuserright {
  z-index: 11;
  margin-top: -70px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.aboutuserright h1 {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.edit {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 11;
  width: 30px;
}

.profilepicedit {
  position: absolute;
  right: -165px;
  border-radius: 10px;
  height: 90px;
  bottom: -90px;
  z-index: 11;
  background-color: #17181b;
  padding: 8px;
}

.dropcoverbtn:hover {
  background-color: rgba(255, 255, 255, 0.04);
}

.user_name {
  display: flex;
  align-items: center;
}

.user_name h1 {
  color: #fff;
  font-size: 22px;
}

.user_name img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-top: 5px;
}

.about {
  color: rgba(255, 255, 255, 0.4) !important;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.user_about {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user_about p {
  font-size: 13px;
  color: #ffffff;
}

.user_ceo {
  display: flex;
  align-items: center;
}

.user_ceo p {
  color: rgba(255, 255, 255, 0.4);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.user_ceo span {
  font-size: 13px;
  color: #ef8031;
  margin-left: 5px;
}

.followers_following {
  background: rgba(255, 255, 255, 0.04);
  margin-top: 20px;
  display: flex;
  padding: 16px 24px 16px 16px;
  align-items: center;
  gap: 24px;
  width: 27.5em;
  border-radius: 10px;
}

.followers_following h1 {
  font-size: 16px;
  color: #ffffff;
}

.followers_following span {
  width: 1px;
  height: 20px;
  background: rgba(255, 255, 255, 0.1);
}

.followers_following h2 {
  font-size: 16px;
  color: #ffffff;
}

.aboutuserleft {
  display: flex;
  margin-top: 20px;
}

.aboutuserleft img {
  width: 44px;
  height: 44px;
}

.aboutuserleft button {
  width: 88px;
  height: 44px;
  background-color: white;
  border-radius: 20px;
  color: black;
  font-weight: bolder;
}

.aboutuserleft .dotbtn {
  width: 60px;
  height: 40px;
  background-color: #16181c;
  color: white;
  border-radius: 20px;
}

hr {
  margin-top: 10px;
  color: grey;
  width: 100%;
}

.news_feed {
  display: flex;
  flex-wrap: wrap;

  margin-top: 1.75em;
  gap: 1.5em;
}

.feed_rightside {
  display: flex;
  flex-direction: column;
  gap: 16px;

  flex: 1;
}

.feed_leftsideinformation {
  flex: 1;
}

.postDiv {
  display: flex;
  gap: 14px;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 16px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.04);
}

.post_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.post input {
  background: transparent;
  border: none;
  width: 100%;
  outline: none;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
}

.uploadPost {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.postIcons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.postIcons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.post_user_name {
  display: flex;
  align-items: center;
  gap: 4px;
}

.horiz {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user_name_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.post_text {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.tabsLine {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
}

.postBtnContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.postBtnContainer button {
  display: flex;
  padding: 6px 12px 6px 10px;
  align-items: center;
  gap: 4px;
  border-radius: 28px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: transparent;
  color: #fff;
}

.postBtnContainer .publicBtn {
  display: flex;
  gap: 4px;
  padding: 6px 12px 6px 10px !important;
}

.postBtn {
  background: #ef8031 !important;
  padding: 8px 36px !important;
}

.upload_news_author_pic {
  display: flex;
}

.post_user_name h1 {
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
}

.post_user_name img {
  width: 20px;
  height: 20px;
}

.rate_btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 7px;
}

.rate_btns button {
  display: flex;
  width: 192px;
  height: 40px;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.04);
}

.about_box {
  position: relative;
  width: 100%;
  background-color: #17181b;
  border-radius: 5px;
  padding: 10px 15px 15px 10px;
}

.edit_info {
  display: flex;
  justify-content: space-between;
}

.edit_info p {
  font-size: 14px;
  color: #fff;
}

.about_user_desc p {
  font-size: 13px;
  margin-top: 15px;
  margin-left: 10px;
  color: #fff;
}

.editInfo {
  color: rgba(255, 255, 255, 0.4);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.about_user_desc {
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: 5px;
}

.about_user_desc img {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

.friend_box {
  position: relative;
  background-color: #17181b;
  width: 100%;
  height: 56px;
  margin-top: 20px;
  border-radius: 5px;
}

.friend_box h1 {
  font-size: 16px;
  color: #fff;
}

.friend_box p {
  color: rgba(255, 255, 255, 0.4);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.friends {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 0 0 15px;
  color: #fff;
}

.friends p {
  color: #fff;
}

.friends .friendMembers {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.4) !important;
}

.coverContent {
  width: 100%;
  height: 33em;
}

@media all and (max-width: 768px) {
  .profilemain {
    width: 100%;
  }

  .feed_leftsideinformation {
    display: none;
  }

  .aboutuserleft {
    display: none;
  }

  .input-box {
    margin: 10px 0;
    padding: 10px;
  }

  .post-content {
    margin: 20px 0;
    padding: 20px;
  }
}

@media all and (max-width: 1024px) {
  .feed_leftsideinformation {
    display: none;
  }
}
