.homeWrapper {
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  flex: 1;
  gap: 1.6em;
  width: 100%;
}

.LeftSideBar{
  flex: 1;
  max-width: 300px;
}

.feedContainer{
  flex: 3;
  width: 100%;
}
.RightSideBar{
  flex: 1;
  max-width: 300px;
}

.MobileNavbar{
  display: none;
}

@media all and (max-width: 950px){
  .LeftSideBar{
    display: none;
  } 
}
@media all and (max-width: 768px){
  .RightSideBar{
    display: none;
  }
  .MobileNavbar{
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  .main{
    padding: 0 10px;
  }
}