.container {
  padding: 9em 2em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1780px;
}

@media all and (max-width: 768px) {
  .container {
    padding: 0;
  }
}
