@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");

* {
  font-family: "Inter";
}

.container {
  display: flex;

  gap: 2.5em;
}

.leftSection {
  flex: 1;
}

.rightSection {
  flex: 3;
}

.info {
  width: 500px;
}

.info p {
  font-weight: bold;
}

.left_profile_side {
  width: 70%;
}

.asideContainer {
  width: 30%;
  margin-left: 10px;
}

.mainbox {
  display: flex;
  margin-top: 20px;
}

.post {
  background-color: #16181c;
  padding: 10px;
  border-radius: 10px;
  height: 200px;
}

.writesomething {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
}

.writesomething input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 10px;
}

.addsomethinginpost {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postbtn {
  background-color: orange;
  width: 100px;
  height: 36px;
  margin-right: 10px;
  border-radius: 20px;
  font-weight: bolder;
}

.addbtn {
  display: flex;
  align-items: center;
}

.public {
  border: 1px solid gray;
  border-radius: 20px;
  width: 80px;
  margin-right: 10px;
  height: 32px;
  color: white;
}

.upload_news_desc {
  margin-top: 20px;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  margin-left: 10px;
  overflow: hidden;
}

.upload_news_desc {
  line-height: 1.5;
  font-weight: bold;
}

.upload_news_author_pic {
  margin-top: 25px;
}

.rate_btns {
  display: flex;
  width: 85%;
  justify-content: space-between;
}

.upvote button {
  width: 162px;
  height: 40px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.04);
}

.upvote button {
  background: rgba(255, 255, 255, 0.04);
  background: url("../../lib/resources/images/icons/upvote.png");
  background-repeat: no-repeat;
  background-position: 40px center;
  background-color: #555353;
}

.about_box {
  width: 325px;
  height: 182px;
  background-color: #3a3737;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 5px;
  padding: 10px 15px 0 10px;
}

.edit_info {
  display: flex;
  justify-content: space-between;
}

.edit_info h1 {
  font-size: 14px;
}

.about_user_desc h1 {
  font-size: 13px;
  margin-top: 15px;
}

.user_name {
  display: flex;
  align-items: center;
}

.user_name h1 {
  font-size: 22px;
  margin-right: 20px;
}

.userimg {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: 5px;
}

.verifed_img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.memberbox {
  width: 90%;
  background-color: #16181c;
  padding: 10px;
  margin-left: 5px;
  margin-top: 20px;
  border-radius: 5px;
}

.membercount {
  display: flex;
  align-items: center;
  padding: 10px;
}

.membercount h1 {
  font-size: 14px;
}

.membercount h3 {
  font-size: 10px;
  color: gray;
  margin-left: 10px;
}

.memberimg {
  margin-top: 10px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.memberimg img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 25px;
}

.attachment img {
  width: 25px;
  height: 25px;
}

.postimg {
  margin-left: 10px;
}

.posts {
  margin-top: 50px;
  background-color: #16181c;
}

.post_box {
  width: 95%;
  border-radius: 5px;
  display: flex;
  padding: 15px 0 0 15px;
}

.post_img {
  width: 100%;
  margin-top: 10px;
}

.post_img img {
  width: 100%;
  height: 90%;
}

.btns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.upvote button {
  background: url("../../lib/resources/images/icons/arrow-up-circled.png");
  background-repeat: no-repeat;
  background-position: 40px center;
}

.comment button {
  width: 162px;
  height: 40px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.04);
  background: url("../../lib/resources/images/icons/chat-lines.png");
  background-repeat: no-repeat;
  background-position: 25px center;
}

.share button {
  width: 162px;
  height: 40px;
  margin-top: 20px;
  background: rgba(255, 1, 1, 0.04);
  background: url("../../lib/resources/images/icons/share-ios.png");
  background-repeat: no-repeat;
  background-position: 25px center;
}

.button {
  width: 40px !important;
  height: 40px !important;
  object-fit: cover;
}

.line {
  height: 1px;
  background-color: #3a3737;
}

.publiclanguage {
  position: relative;
  width: 110px;
  display: flex;
  align-items: center;
}

.publiclanguage button {
  width: 100%;
}

.publiclanguage img {
  position: absolute;
  left: 0;
  margin-left: 10px;
}

.upload_news {
  width: 100%;
  height: 200px;
  background-color: #16181c;
  border-radius: 10px;
  display: flex;
  padding: 15px 0 0 15px;
  margin-top: 50px;
}

.upload_news_desc {
  margin-left: 10px;
  width: 100%;
  background-color: #16181c;
}

.rate_btns {
  display: flex;
  width: 85%;
  justify-content: space-between;
}
