.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 48px 24px 16px 24px;
}

.videoCallUsers {
    position: relative;
    margin-bottom: 16px;
}

.userPhoto {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.videoCallNav {
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    align-items: center;
}

.navUser {
    display: flex;
    column-gap: 8px;
}

.navUserIcon {
    width: 20px;
    height: 20px;
}

.navUsername {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF
}

.navButtons {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.navButton {
    width: 36px;
    height: 36px;
    padding: 8px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.04);
}

.navButtonRed {
    width: 36px;
    height: 36px;
    padding: 8px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    background: #B80000;
}