.feedHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 14px;
  width: 100%;
  border: none;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 10px;
}

.headerSearch {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(217, 217, 217, 0.04);
}

.headerSearch img {
  padding: 0px 26px 15px 0px;
}

.headerSearch textarea {
  resize: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  outline: none;
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.3);
}

.headerSearch textarea:focus {
  border: none;
  box-shadow: none;
  color: white;
}

.headerButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px;
  position: relative;
}

.leftButtons {
  position: absolute;
  left: 0;
}

.leftButtons img {
  margin-right: 14.17px;
  cursor: pointer;
}

.rightButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  right: 0;
  position: absolute;
}

.rightButtons > :first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px 6px 10px;
  gap: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 28px;
  cursor: pointer;
}

.rightButtons button {
  background: none;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */
  cursor: pointer;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.postButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 36px;
  gap: 10px;
  background: #ef8031 !important;
  border-radius: 28px;
}
