.followers_following {
  background: rgba(255, 255, 255, 0.04);
  display: flex;
  padding: 16px 24px 16px 16px;
  justify-content: center;
  gap: 24px;
  width: 29.5em;
  border-radius: 10px;
}

.followers_following p {
  font-size: 16px;
  color: #ffffff;
}

.followers_following span {
  width: 1px;
  height: 20px;
  background: rgba(255, 255, 255, 0.1);
}

@media all and (width:768px){
.FollowContainer{
  gap: 24px;
}
}

