.rightSideBarWrapper {
  display: flex;
  flex: 0.224;
  background-color: black;
  flex-direction: column;
}
.contactsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 20px;
  width: 100%;
  background: #17181b;
  border-radius: 10px;
  margin-bottom: 20px;
}
.contactsWrapper h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  color: #ffffff;
}
.contactsWrapper ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.contactsWrapper ul li {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 100%;
  margin: 10px 14px 10px 0px;
}
.contactsWrapper ul li span {
  margin-left: 14px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height, or 147% */

  color: #ffffff;
}
.activeUser {
  position: absolute;
  bottom: 0;
  left: 28px;
  padding: 4px;
  border-radius: 50%;
  background: #17181b;
  z-index: 1000;
}
