.container {
  width: 90%;
  margin-left: 5px;

  background-color: var(--bar-color);
  color: var(--white-color);

  border-radius: 10px;
  padding: 2em;
}

.title {
  font-size: 1.6em;
  margin-bottom: 1.25em;
}

.list {
  margin-top: 15px;
}

.list h1 {
  font-size: 14px;
}

.list h3 {
  color: gray;
  font-size: 12px;
}
