.container {
  width: 100%;
  padding: 2.4rem;
  display: flex;
  gap: 2.4rem;
  align-items: center;
  justify-content: flex-start;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.04);
  transition: 0.3s;
  cursor: pointer;
}

.container:hover {
  background: rgba(186, 179, 179, 0.04);
}

.text {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.2rem;
}

@media only screen and (min-width: 90em) {
  .container {
    width: 33.1rem;
    padding: 4.5rem 0;
    flex-direction: column;
    justify-content: center;
  }

  .container:hover {
    transform: scale(1.05);
  }
}

@media screen and (min-width:768px) and (max-width:1440px) {
  .container{
    width: 80%;
  }
}