.container {
    width: 100%;
    height: auto;
}
.aboutUserProfile{
    position: relative;
    top: -40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.responsiveSocialNetwork{
    display: none;
}