.newsFeed {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.leftSideBarWrapper {
  min-width: 245px;
}

.newsFeedContainer {
  width: 100%;
}

.content {
  display: flex;
  column-gap: 25px;
}

.title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
}

.MobileNavBarWrapper {
  display: none;
}

@media screen and (max-width: 930px) {
  .title {
    margin-top: 24px;
  }

  .leftSideBarWrapper {
    display: none;
  }

  .content {
    column-gap: 0;
  }
}

@media screen and (max-width: 768px) {
  .title {
    margin-top: 14px;
  }

  .MobileNavBarWrapper {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: block;
  }

  .navbarWrapper {
    padding: 10px 16px;
  }

  .title {
    padding-left: 16px;
  }
}
