.nftcollection2_main {
  display: flex;
  column-gap: 25px;
  /* padding: 0px 32px 154px 32px; */
}

.leftside {
  flex-grow: 1;
}

.nftcollectionhead {
  display: flex;
}

.description {
  display: flex;
}

.description h2 {
  margin-left: 20px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  cursor: pointer;
}

.description h1 {
  color: rgba(255, 255, 255, 0.403);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  cursor: pointer;
}

.search {
  margin-bottom: 25px;
  margin-top: 20px;
}

.searchInput {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border-radius: 40px;
  border: none;
  padding-left: 30px;
  background: url("../../lib/resources/images/icons/search.png");
  background-color: rgba(255, 255, 255, 0.137);
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #ffffff;
}

.searchInput::placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.nfts {
  margin-top: 30px;
}

.nfts_sections {
  width: 100%;
  padding: 10px 0 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.04);
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
  display: flex;
  justify-content: space-between;
}

.nfts_sections h1,
.nfts_sections_mobile h1 {
  color: rgba(255, 255, 255, 0.4);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  width: 7%;
}

.nft_element {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nft_element_mobile {
  display: none;
}

.nft_img_name {
  display: flex;
  align-items: center;
}

.nft_img_name {
  display: flex;
  align-items: center;
  width: 7%;
}

.right_arrow {
  display: none;
}

.nft_img_name h1 {
  margin-left: 15px;
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.line {
  width: 100%;
  height: 1px;
  margin-top: 15px;
  background-color: #16181c;
}

.nft_element h1 {
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.nft_position {
  margin-top: 20px;
}

.nftmenu {
  width: 95%;
  height: 35px;
  margin-top: 10px;
  display: flex;
}

.chains {
  width: 140px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.chains button {
  width: 100%;
  height: 100%;
  color: white;
  background-color: transparent;
  border: 1px solid #32353b;
  background-image: url("../../lib/resources/images/icons/circle.png");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 5px 50%;
  border-radius: 20px;
  font-weight: bold;
}

.chains img {
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 10;
  right: 10px;
}

.nftmenubt {
  width: 85px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 10px;
}

.nftmenubt button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #32353b;
  color: white;
  border-radius: 20px;
  font-weight: bold;
}

.nftmenubt img {
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 10;
  right: 10px;
}

.lgbtn {
  width: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 10px;
}

.lgbtn button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #32353b;
  color: white;
  border-radius: 20px;
  font-weight: bold;
}

.lgbtn img {
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 10;
  right: 10px;
}

.nftmenuposition {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.smbtn {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.smbtn button {
  width: 100%;
  height: 100%;
  color: white;
  background-color: transparent;
  border: 1px solid #32353b;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.smbtn img {
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 10;
  right: 10px;
}

.volume_percent {
  width: 7%;
}

.volume_percent h1 {
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.volume_percent h2 {
  color: #cdf67f;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.price {
  width: 7%;
}
.owners {
  width: 7%;
}
.items {
  width: 7%;
}

@media all and (max-width: 1366px) {
  .nfts_sections h1,
  .nfts_sections_mobile h1 {
    width: 14%;
  }

  .nft_img_name {
    width: 14%;
  }

  .volume_percent {
    width: 14%;
  }

  .price {
    width: 14%;
  }

  .owners {
    width: 14%;
  }

  .items {
    width: 14%;
  }
}

@media all and (max-width: 1200px) {
  .nfts_sections :first-child {
    margin-right: 40px;
  }

  .nft_img_name {
    margin-right: 40px;
  }
}

@media all and (max-width: 1078px) {
  /* .nftcollection2_main {
    column-gap: 0px;
  } */

  .leftside {
    width: 100%;
  }

  .Rightnavbar_wrapper {
    display: none;
  }
}
@media screen and (max-width:768px) {
  .nftcollection2_main{
    padding: 20px;
  }
}
@media all and (max-width: 705px) {
  .nfts {
    margin-top: 15px;
  }
}

@media all and (max-width: 660px) {
  .right_arrow {
    display: block;
  }

  .nft_element {
    display: none;
  }

  .nft_element_mobile {
    display: block;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    padding: 16px;
  }

  .nft_element_mobile_flex {
    display: flex;
    flex-direction: column;
  }

  .price,
  .owners,
  .items {
    color: #fff;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
  }

  .nfts_sections {
    display: none;
  }

  .nfts_sections_mobile {
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  .nfts_sections_mobile_wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
  }

  .nfts_sections,
  .nfts_sections_mobile {
    border: none;
  }

  .nft_img_name_wrap {
    display: flex;
  }

  .nft_img_name {
    width: 100%;
  }

  .nfts_sections_mobile h1 {
    width: auto;
  }

  .volume_percent {
    display: flex;
    column-gap: 10px;
    width: auto;
  }

  .volume_percent h1 {
    font-size: 13px;
  }
  .volume_percent h2 {
    font-size: 12px;
  }

  .price,
  .owners,
  .items {
    width: auto;
  }

  .info_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 5px;
  }

  .nfts {
    margin-top: 0;
  }

  .line {
    display: none;
  }
}

@media all and (max-width: 393px) {
  /* .nftcollection2_main {
    padding: 0px 16px 50px 16px;
  } */
}
