.header {
  display: flex;
  color: white;
  flex-wrap: wrap;
}
.userIcon {

    cursor: pointer;

  cursor: pointer;

}
.descriptionWrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  margin-left: 14px;
}
.description {

  font-family: "Inter";

  font-family: 'Inter';

  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* or 154% */
}
.description span {
  color: #ef8031;
}
.name {
  display: flex;
  cursor: pointer;
}
.buttons {
  display: flex;
  justify-content: space-between;

  position: relative;
  margin: 20px 0px;
}

.name {
  font-family: "Inter";

  margin: 20px 0px;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 16px 0px;
  position: relative;
}
.buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  gap: 10px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 8px;
  border: none;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  width: 30%;
  cursor: pointer;
}

.name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */

  color: #ffffff;
}
.verifieBadge {
  margin: 0px 8px 0px 4px;
}
.date {

  font-family: "Inter";

  font-family: 'Inter';

  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */

  color: rgba(255, 255, 255, 0.4);
}
