.postContainer {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.04);
}

.postFlex {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.postFlexInner {
  display: flex;
  column-gap: 14px;
}

.postAvatar {
  width: 44px;
  height: 44px;
}

.postContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 16px;
}

.postContentInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.postInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.postAuthor {
  display: flex;
  column-gap: 8px;
  margin-bottom: 6px;
}

.postAuthorNameInner {
  display: flex;
  column-gap: 4px;
}

.postAuthorName {
  font-family: "Inter";
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}

.postDate {
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.4);
}

.postText {
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}

.postAttachment {
  max-width: 590px;
  width: 100%;
}

.postAndButtonsMobile {
  display: none;
}

.postAndButtonsDesktop {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.postTextMobile {
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
  display: none;
}

.postSettings {
  width: 24px;
  height: 24px;
  background: inherit;
  position: relative;
  align-self: baseline;
}

.postSettingsInner {
  position: absolute;
  top: 35%;
  left: 54%;
  transform: translate(-50%, -50%);
  letter-spacing: 2.5px;
  color: rgba(255, 255, 255, 0.4);
}

.postButtons {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.postButton {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.04);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.postButtonText {
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .postAndButtonsDesktop {
    display: none;
  }

  .postAndButtonsMobile {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .postTextMobile {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  .post {
    padding: 16px 0;
  }
}

@media screen and (max-width: 425px) {
  .postAuthor {
    flex-direction: column;
  }

  .postText {
    display: none;
  }

  .postSettings {
    align-self: center;
  }
}
