.feedCard_header_menu {
    right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }
  .menuItem {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
  }
 .button {
    width: 111px;
    border-radius: 20px;
    height: 40px;
    background-color: white;
    color: #000000;
    font-weight: bolder;
  }
  @media all and (max-width: 768px) {
    .socialNetworks{
      display: none;
    }
    .menuItem {
      width: 70%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 8px;
    }
  }