.containerWrapper {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  padding-bottom: 8rem;
}

.mobileSettings {
  display: none;
}

.settingsContainer {
  width: 100%;
  background: #17181b;
  border-radius: 10px;
  padding: 24px;
  height: max-content;
  color: #6e6e70;
}

.contHeader {
  font-size: 18px;
  font-weight: 600px;
  color: white;
}

.arrow_header {
  display: flex;
  align-items: center;
  gap: 13px;
}

.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: white !important;
}

.messageEdit {
  color: rgba(255, 255, 255, 0.4);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.headerBox {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.message {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-top: 4px;
  line-height: 20px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 20px 0 24px 0;
}

.itemsWrapper {
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.labelWrap {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

@media all and (max-width: 768px) {
  .settingsContainer {
    background: transparent;
    padding: 0px;
    display: flex;
    flex-direction: column;
  }

  .containerWrapper {
    flex-direction: column;
    padding-bottom: 36px;
  }

  .topPart {
    height: 90vh;
  }

  .mobileSettings {
    display: block;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 16px 16px 32px 12px;
  }

  .mobileSettingsTitle {
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}
